set autoindent
set constantshow
set functioncolor cyan
set keycolor cyan
set linenumbers
set mouse
set numbercolor slate
set statuscolor white,grey
set tabstospaces
set titlecolor white,grey
set trimblanks

include "/opt/homebrew/Cellar/nano/*/share/nano/*.nanorc"
